<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
    </div>
    <div class="panel-body">
        <p>
            A simple MVVM app for viewing polls. This app was made by Jay Harris as part of SENG365 in 2015.
        </p>
        <p>
            The aim of this application is to be a client side app for viewing polls which requests the data it needs
            via rest API calls. The rest API supports the following methods.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Known Bugs</h3>
    </div>
    <div class="panel-body">

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">REST API</h3>
    </div>
    <div class="panel-body">

    </div>
</div>