<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
    </div>
    <div class="panel-body">
        <p>
            A simple MVVM app for viewing polls. This app was made by Jay Harris as part of SENG365 in 2015.
        </p>
        <p>
            The aim of this application is to be a client side app for viewing polls which requests the data it needs
            via rest API calls. The rest API supports the following methods.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Styling</h3>
    </div>
    <div class="panel-body">
        <p>
            This website uses <a href="http://getbootstrap.com/getting-started/">Bootstrap</a> for almost all of it's css (there is a very limited amount
            that has been added by me, mostly for indenting and weighting text).
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Known Bugs</h3>
    </div>
    <div class="panel-body">
        <p>
            If you have a slow internet connection it is sometimes possible to vote multiple
            times in a poll (as the client waits until it has relieved the list of votes from
            the server before disabling voting).
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">REST API</h3>
    </div>
    <div class="panel-body">

    </div>
</div>