<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Administer</div>

    <!-- Table -->
    <table class="table title">
        <tr>
            <th>Poll</th>
            <th>Edit</th>
            <th>Reset</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="poll in polls">
            <td>{{poll.title}}</td>
            <td>
                <button class="btn btn-default" ng-click="edit(poll)">Edit</button>
            </td>
            <td>
                <!--<a ng-click="reset(poll)">Reset</a>-->
                <button class="btn btn-default" ng-click="reset(poll)">Reset</button>
            </td>
            <td>
                <button class="btn btn-default" ng-click="delete(poll)">Delete</button>
            </td>
        </tr>
    </table>
</div>
<button class="btn btn-primary" ng-click="beginCreate()" ng-show="!creating">Add</button>
<div class="panel panel-default" ng-show="creating">
    <div class="panel-heading">
        {{editPaneTitle}} Poll
    </div>
    <ul class="list-group panel-body">
        <li class="list-group-item">
            Poll Title <input class="form-control" ng-model="editing.title"/>
        </li>
        <li class="list-group-item">
            Question <input class="form-control" ng-model="editing.question"/>
        </li>
        <div class="panel panel-default">
            <div class="panel-heading">
                Answers
            </div>
            <ul class="list-group panel-body">
                <li class="list-group-item" ng-repeat="answer in answers">
                    Answer
                    <table class="answerList">
                        <tr>
                            <td><input class="form-control" ng-model="answer.answer"/></td>
                            <td><button class="btn btn-remove" ng-disable="!canRemoveAnswers" ng-click="removeAnswer(answer)">Delete</button></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <button class="btn btn-default" ng-click="addAnswer()">Add Answer</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="create()">Done</button>
    </ul>
</div>
