<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Administer</div>

    <!-- Table -->
    <table class="table title">
        <tr>
            <th>Poll</th>
            <th>Reset</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="poll in polls">
            <td>{{poll.title}}</td>
            <td>
                <!--<a ng-click="reset(poll)">Reset</a>-->
                <button class="btn btn-default" ng-click="reset(poll)">Reset</button>
            </td>
            <td>
                <button class="btn btn-default" ng-click="delete(poll)">Delete</button>
            </td>
        </tr>
    </table>
</div>