<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{{poll.question}}</h1>
    </div>
    <div class="panel-body">
        <form>
            <div ng-repeat="answer in poll.answers" class="option">
                <input type="radio" name="answer" value="answer.Id" ng-model="picked" ng-disabled="voted" ng-change="vote(answer)"/>

                <span class="answer">{{answer.answer}}</span>
                <span ng-show="voted" class="vote">({{answer.votes}} votes)</span>
            </div>
        </form>
    </div>
</div>